In [1]:
import pandas as pd

df = pd.read_csv('weather_m4.csv')
df.head()

,YYYYMMDD,TIME,TEMP,MIN_TEMP_GROUND,PRESSURE,HUMIDITY,VIEW_RANGE,CLOUD,MIST,RAIN,SNOW,THUNDER,ICE,WEATHER_CODE
0,20160101,1,68,NaN,10207,87,56.0,4.0,0.0,0.0,0.0,0.0,0.0,10.0
1,20160101,2,58,NaN,10214,92,57.0,2.0,0.0,0.0,0.0,0.0,0.0,10.0
2,20160101,3,57,NaN,10220,92,56.0,7.0,0.0,1.0,0.0,0.0,0.0,23.0
3,20160101,4,60,NaN,10225,93,57.0,7.0,0.0,1.0,0.0,0.0,0.0,51.0
4,20160101,5,45,NaN,10230,95,56.0,7.0,0.0,1.0,0.0,0.0,0.0,22.0

In [2]:
df.sort_index(axis=1)

,CLOUD,HUMIDITY,ICE,MIN_TEMP_GROUND,MIST,PRESSURE,RAIN,SNOW,TEMP,THUNDER,TIME,VIEW_RANGE,WEATHER_CODE,YYYYMMDD
0,4.0,87,0.0,NaN,0.0,10207,0.0,0.0,68,0.0,1,56.0,10.0,20160101
1,2.0,92,0.0,NaN,0.0,10214,0.0,0.0,58,0.0,2,57.0,10.0,20160101
2,7.0,92,0.0,NaN,0.0,10220,1.0,0.0,57,0.0,3,56.0,23.0,20160101
3,7.0,93,0.0,NaN,0.0,10225,1.0,0.0,60,0.0,4,57.0,51.0,20160101
4,7.0,95,0.0,NaN,0.0,10230,1.0,0.0,45,0.0,5,56.0,22.0,20160101
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8779,8.0,98,0.0,NaN,1.0,10265,0.0,0.0,35,0.0,20,11.0,20.0,20161231
8780,9.0,98,0.0,NaN,1.0,10258,0.0,0.0,34,0.0,21,9.0,34.0,20161231
8781,9.0,98,0.0,NaN,1.0,10253,1.0,0.0,30,0.0,22,9.0,33.0,20161231
8782,9.0,98,0.0,NaN,1.0,10246,1.0,0.0,28,0.0,23,6.0,34.0,20161231
8783,9.0,98,0.0,26.0,1.0,10239,0.0,0.0,28,0.0,24,2.0,34.0,20161231

In [10]:
df.sort_values(by=['TEMP','TIME'], ascending=[False,True]).head(20)

,YYYYMMDD,TIME,TEMP,MIN_TEMP_GROUND,PRESSURE,HUMIDITY,VIEW_RANGE,CLOUD,MIST,RAIN,SNOW,THUNDER,ICE,WEATHER_CODE
4835,20160720,12,317,220.0,10101,43,80.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN
5702,20160825,15,315,NaN,10138,46,82.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
4836,20160720,13,314,NaN,10105,45,81.0,2.0,0.0,0.0,0.0,0.0,0.0,NaN
4834,20160720,11,309,NaN,10105,46,80.0,7.0,0.0,0.0,0.0,0.0,0.0,NaN
5701,20160825,14,309,NaN,10143,49,81.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
5700,20160825,13,305,NaN,10145,54,82.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
6181,20160914,14,305,NaN,10123,46,72.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
5678,20160824,15,305,NaN,10188,52,80.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
6157,20160913,14,302,NaN,10118,48,81.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
5679,20160824,16,302,NaN,10185,52,82.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
4833,20160720,10,301,NaN,10110,47,81.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
6156,20160913,13,301,NaN,10121,51,77.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
5699,20160825,12,300,185.0,10146,52,79.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
5677,20160824,14,300,NaN,10190,52,81.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
6158,20160913,15,300,NaN,10114,48,81.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
6180,20160914,13,296,NaN,10124,52,72.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
4814,20160719,15,296,NaN,10186,45,80.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
4815,20160719,16,295,NaN,10181,46,80.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
5698,20160825,11,293,NaN,10150,54,81.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
4813,20160719,14,293,NaN,10191,47,77.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN